@model GestionDeBiblioteca.Models.DTO.AuthorDTO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
}
<h3>¿Quieres ver los detalles de este autor?</h3>

<div class="card">
    <div class="card-header">
        <h4>Detalles del Autor</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">
                Nombre
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt class="col-sm-3">
                Fecha de nacimiento
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.DateBirth)
            </dd>

            <dt class="col-sm-3">
                Ciudad
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.City)
            </dd>

            <dt class="col-sm-3">
                Correo electrónico
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Email)
            </dd>
        </dl>
    </div>
</div>

<p class="text-center">
    @Html.ActionLink("Editar", "Edit", new { id = Model.AuthorId }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-secondary" })
</p>